<div class="navigation-container">
  <div class="navigation">
    <div class="navigation-top">
      <a href="/" class="logo-title">
        <img src="/assets/images/rooster-logo.png" alt="Rooster logo">
        <h1>Rooster</h1>
      </a>
      
      <button class="mobile-menu-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    
    <nav class="nav-menu">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link || page.url == '' %}class="selected"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>
    <hr>
  </div>
</div>