<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Rooster</title>
    <link rel="stylesheet" href="https://use.typekit.net/lmf7wam.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WT3CQS9LY1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WT3CQS9LY1');
    </script>
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>